{% extends ":default:index.html.twig" %}

{% block title %}SmRecord архив мобильных звонков{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>SmRecord aрхив мобильных разговоров</h1>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Начало периода</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="startdt" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Конец периода</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="stopdt" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Номер телефона</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="phone" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Номер абонента</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="remotephone" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="row">
            <div class="col-md-12">
                <label for="dtn_refresh" class="control-label">&nbsp;</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="dtn_refresh" class="btn btn-default" onclick="Select()"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed">
            <tr>
                <th class="col-md-1">Время звонка</th>
                <th class="col-md-1">Длитительность</th>
                <th class="col-md-1">Вх/Исх</th>
                <th class="col-md-1">Без ответа</th>
                <th class="col-md-1">Номер</th>
                <th class="col-md-1">Номер абонента</th>
            </tr>
            <tbody id="rows">
                <tr>
                    <td colspan="6">Загрузка ...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-2">Число записей <span class="badge" id="rowcount"></span></div>
</div>

<div class="modal fade" id="MessageBox" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Внимание!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <span id="MessageBoxText" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script type="text/javascript">

    function getNow() {
        return new Date();
    }

    function formatDate(date) {
        if (date) {
            var dd = date.getDate();
            if (dd < 10) dd = '0' + dd;
            var mm = date.getMonth() + 1;
            if (mm < 10) mm = '0' + mm;
            var yyyy = date.getFullYear();
            return yyyy + '-' + mm + '-' + dd;
        }
        else
            return '';
    }

    $(document).ready(function () {
        $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: '&#x3c;Пред',
            nextText: 'След&#x3e;',
            currentText: 'Сегодня',
            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
            dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
            dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false
        };
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $('#startdt').datepicker().datepicker('setDate', 'today');
        $('#stopdt').datepicker().datepicker('setDate', 'today');
        Select();
    });

    function Select() {

        $('#btn_refresh').prop('disabled',true);
        $('#rows').find('tr').remove().end();
        $('#rows').append('<tr><td colspan="6">Загрузка данных ...</td></tr>');
        $('#rowcount').text('0');

        var param = {
            dt: getNow().getTime(),
            startdt: formatDate($('#startdt').datepicker('getDate')),
            stopdt: formatDate($('#stopdt').datepicker('getDate')),
            phone: $('#phone').val(),
            remotephone: $('#remotephone').val()
        };

        $.get('{{path('selectAction')}}', param, function (data) {
            if (data != null) {
                $('#rows').find('tr').remove().end();
                context = '';
                
                if (data.rowcount > 0) {
                    $.each(data.rows, function (index, row) {
                        context += '<tr style="background-color:' + (row.unanswered == 1 ? '#ffe1e1' : row.direction == 1 ? '#d3ffb9' : '#c2d1ff') + '">';
                        context += '<td class="col-md-1">' + row.startdt + '</td>';
                        context += '<td class="col-md-1">';
                        if (row.duration != '' && row.recordfile != '')
                            context += '<a href="' + row.recordfile + '">' + row.duration + '</a>';
                        context += '</td>';
                        context += '<td class="col-md-1" align="center">' + (row.direction == 1 ? '<span class="glyphicon glyphicon-log-in"></span>' : '<span class="glyphicon glyphicon-log-out"></span>') + '</td>';
                        context += '<td class="col-md-1" align="center">' + (row.unanswered == 1 ? '<input type="checkbox" checked>' : '') + '</td>';
                        context += '<td class="col-md-1">' + row.phone + '</td>';
                        context += '<td class="col-md-1">' + row.remotephone + '</td>';
                        context += '</tr>';
                    });
                } else
                    context += '<tr><td colspan="6">Нет строк</td></tr>';
                $('#rows').append(context);
                $('#rowcount').text(data.rowcount);
            }
            $('#btn_refresh').prop('disabled', false);
        });
    }

    function ShowMessageBox(msg) {
            $('#MessageBoxText').text(msg);
            $('#MessageBox').modal('show');
        }

</script>
{% endblock %}

